# Elections South Africa Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_curve, roc_auc_score, classification_report, confusion_matrix, f1_score, accuracy_score


import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_excel('National.xlsx', engine='openpyxl')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Party Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Party Abbr,NaN,Votes,NaN,NaN,% Votes
2,NaN,UMKHONTO WESIZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M.K.,NaN,100564,NaN,NaN,0.438606
3,NaN,AFRICAN NATIONAL CONGRESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANC,NaN,48937,NaN,NaN,0.213437
4,NaN,INKATHA FREEDOM PARTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFP,NaN,40454,NaN,NaN,0.176439

In [4]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [6]:
data[~data['Unnamed: 2'].isnull()]

Empty DataFrame
Columns: [Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14]
Index: []

In [7]:
data.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Party Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Party Abbr,NaN,Votes,NaN,NaN,% Votes
2,UMKHONTO WESIZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M.K.,NaN,100564,NaN,NaN,0.438606
3,AFRICAN NATIONAL CONGRESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANC,NaN,48937,NaN,NaN,0.213437
4,INKATHA FREEDOM PARTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IFP,NaN,40454,NaN,NaN,0.176439

In [7]:
data.head()

Empty DataFrame
Columns: [Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14]
Index: []